<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
  <title>react-admin</title>
</head>
<style>
</style>

<body>
  <div id="app">

    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="标题">
        <el-input v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="作者">
        <el-input v-model="form.author"></el-input>
      </el-form-item>
      <el-form-item label="类型">
        <el-radio v-model="form.type" label="1">备选项</el-radio>
        <el-radio v-model="form.type" label="2">备选项</el-radio>
      </el-form-item>
      <el-form-item label="内容">
        <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="form.content"></el-input>
      </el-form-item>
      <el-form-item label="图片上传" v-show="isImageShow">
        <el-upload 
        ref="upload" 
        action="/" 
        list-type="picture-card" 
        :http-request="setRequest" 
        :auto-upload="true" 
        :on-preview="handlePreview"
        :on-change="handleChange"
        :on-remove="handleRemove">
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-form-item v-show="!isImageShow">
        <el-button type="primary" @click="onSubmit">确定</el-button>
        <el-button>取消</el-button>
      </el-form-item>
      <el-form-item v-show="isImageShow">
        <a href="/weiwei/admin">
          <el-button type="primary">确定</el-button>
        </a>
      </el-form-item>
    </el-form>
  </div>
</body>

</html>
<script>
  var App = new Vue({
    el: "#app",
    data: {
      dialogImageUrl: '',
      dialogVisible: false,
      isImageShow: false,
      uuid:1,
      form: {
        title: '',
        author: '',
        type: '1',
        content: '',
        images: []
      },
      List:[]
    },
    methods: {
      setRequest: function (content) {
        let formData = new FormData;
        formData.append('file', content.file);
        formData.append('uuid', this.uuid);
        let config = {
          'Content-Type': 'multipart/form-data'
        }
        let var_this = this;
        axios.post('/updateImg', formData, config)
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          })
      },
      onSubmit: function () {
        var self = this;
        var form = this.form;
        axios.post("/addPage", form).then(
          function (data) {
            if (data.status === 201) {
              self.uuid = data.data.id;
              self.isImageShow = true;
            }
          }).catch(function (err) {
          console.log(err);
        })
      },
      handleChange:function (file, fileList) {
        this.List = fileList;
        console.log(file, fileList);
      },
      handleRemove: function (file, fileList) {
        console.log(file, fileList);
      },
      handlePreview: function (file) {
        console.log(file);
      },
      handleBefore: function (file, fileList) {
        console.log(file, fileList);
      }
    },
    created: function () {

    }
  })
</script>