<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
  <title>react-admin</title>
</head>
<style>
  .type-select {
    margin-left: 30px;
  }

  .my-table {
    margin-top: 30px;
  }
  .list-img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
</style>

<body>
  <div id="app">
    <a href="/weiwei/add">
      <el-button type="primary">添加</el-button>
    </a>
    <span class="type-select">
      <el-select v-model="value" placeholder="请选择" @change="selectChange">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </span>
    <div class="my-table">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="id" label="ID" width="180">
        </el-table-column>
        <el-table-column prop="title" label="标题" width="180">
        </el-table-column>
        <el-table-column prop="author" label="作者">
        </el-table-column>
        <el-table-column prop="type" label="类型">
        </el-table-column>
        <el-table-column prop="images" label="图片">
          <template slot-scope="scope">
            <img class="list-img" :src="`http://go.richfly.cn/${item}`" alt="" v-for="item in scope.row.images">
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</body>

</html>
<script>
  var App = new Vue({
    el: "#app",
    data: {
      tableData: [],
      options: [{
        value: '1',
        label: '1'
      }, {
        value: '2',
        label: '2'
      }],
      value: ''
    },
    methods: {
      _request: function (type) {
        var self = this;
        var url;
        if (type) {
          url = `/getPages?size=100&type=${type}`;
        } else {
          url = "/getPages?size=100";
        };
        axios.get(url).then(function (res) {
          self.tableData = res.data;
        });
      },
      selectChange: function (val) {
        this._request(val);
      }
    },
    created: function () {
      this._request();
    }
  })
</script>