{% extends './Layout/Layout.html' %} 
{% block body %}
<div class=""></div>
<div id="pagewarp">
  <div id="slideContainer" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px); transition: all 700ms ease;">
    <section id="page1" class="section fp-section fp-table active fp-completely" style="height: 735px;">
      <div class="fp-tableCell" style="height: 735px;">
        <div class="container color-white">
          <div class="page-text">
            <p class="full-move font-base font-lg-xl font-eng-light font-letter-l fadeInUp animated" style="animation-delay: 0.5s">Welcome to the website of Chen Wei works</p>
            <h2 class="family-sy space-t-xs full-move fadeInUp animated" style="animation-delay: 0.6s">
              <em>
                <b>视觉赋予躯体，创意赋予灵魂</b>
                <br> 艺于外，妙于心
                <br> 欢迎来到 “陈维” 作品展示网站</em>
            </h2>
          </div>
          <div class="page-bg visible-xs">
            <img class="img-responsive" src="/public/images/about_page1bg2.jpg">
          </div>
        </div>
      </div>
    </section>
    <section id="page2" class="section fp-section fp-table" style="height: 494px;">
      <div class="fp-tableCell" style="height: 494px;">
        <div class="container">
          <h1 class="font-md full-move fadeInUp animated" style="animation-delay: 0.5s">本人于2013年暑假开始接触UI设计， 直到现在，5年多的工作，使我从一个队于UI设计一问三不知的懵懂少年，成长成为能够独立设计创作的UI设计师
            <br>曾历任“嘉怡兴设计工作室-助理”， 重庆彼客在线科技有限公司-UI设计师，重庆天度网络信息技术有限公司-UI设计师
            <br>重庆话语科技 下属 趣玩科技 活动PIUS 项目部 UI设计师。拥有丰富的UI设计实战经验。
            <br class="hidden-xs"> 我始终坚信细节决定成败，态度决定高度。我对待我的每一份设计，都极尽所能设计出最好的一面。
          </h1>
          <p>&nbsp;</p>
          <p class="about-eng font-md-s full-move fadeInUp animated" style="animation-delay: 0.6s">
            I began to contact UI design in the summer of 2013, until now, more than 5 years of work, from a team to a team in UI design
            a question of three ignorant teenagers, grow into an independent design of the design of the UI Designer
            <br> Once served as "Jia Yixing design studio - Assistant", Chongqing Peter online science and Technology Co.,
            Ltd. -UI designer, Chongqing Tian degree Network Information Technology Co., Ltd. -UI designer, Chongqing discourse
            technology subordinates fun technology activities PIUS project department UI designer. It has rich experience
            in UI design.
            <br> I always believe that details determine success or failure and attitude determines height. In every design
            I make, I try my best to design the best side.
            <br>
          </p>
        </div>
      </div>
    </section>
    <div class="fp-controlArrow fp-prev"></div>
    <div class="fp-controlArrow fp-next"></div>



    
{% endblock %}