{% extends './Layout/Layout.html' %} {% block body %}
<div class=""></div>
<div id="pagewarp">
  <div id="slideContainer" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px); transition: all 700ms ease;">
    <section id="page1" class="section fp-section fp-table active fp-completely" style="height: 735px;">
      <div class="fp-tableCell" style="height: 735px;">
        <div class="container color-white">
          <div class="page-text">
            <p class="full-move font-base font-lg-xl font-eng-light font-letter-l fadeInUp animated" style="animation-delay: 0.5s">Welcome to the website of Chen Wei works</p>
            <h2 class="family-sy space-t-xs full-move fadeInUp animated" style="animation-delay: 0.6s">
              <em>
                <b>视觉赋予躯体，创意赋予灵魂</b>
                <br> 艺于外，妙于心
                <br> 欢迎来到 “陈维” 作品展示网站</em>
            </h2>
          </div>
          <div class="page-bg visible-xs">
            <img class="img-responsive" src="/public/images/about_page1bg2.jpg">
          </div>
        </div>
      </div>
    </section>
    <section id="page2" class="section fp-section fp-table" style="height: 494px;">
      <div class="fp-tableCell" style="height: 494px;">
        <div class="container">
          <h1 class="font-md full-move fadeInUp animated" style="animation-delay: 0.5s">我始终坚信，美妙的设计，能让人快乐，而人们洋溢的微笑，则是对我最大的鼓舞。
            <br>你... 是否还在找寻一个，那么温暖，那么开心，又可以完美展示自己产品的UI设计师？你... 是否也期望着自己的公司信念，得到简单、直观的呈现！让更多的人感受到产品的快乐，体会到信念的美妙！
            <br>我是一位拥有丰富经验的UI设计师。我期待与你（贵公司）并肩绽放创意，追求更极致的设计，成为富有倡匠人精神的整体... 而你（贵公司），则是我非常期待的创作品台。
            <!-- <br class="hidden-xs"> 我始终坚信细节决定成败，态度决定高度。我对待我的每一份设计，都极尽所能设计出最好的一面。 -->
          </h1>
          <p>&nbsp;</p>
          <p class="about-eng font-md-s full-move fadeInUp animated" style="animation-delay: 0.6s">
            I always believe that beautiful design can make people happy, while people's smiles are the biggest encouragement for me.
            <br> Are you still looking for a UI designer who is so warm and so happy that he can display his product perfectly?
            Do you also expect your company's belief to be presented simply and intuitively? Let more people feel the joy
            of products and realize the beauty of faith.
            <br> I am a UI designer with a lot of experience. I look forward to working with you (your company) to create a creative
            design, the pursuit of more extreme design, the spirit of the craftsman as a whole... And you (your company),
            I am very expected of the creative platform.
            <br>
          </p>
        </div>
      </div>
    </section>
    <div class="fp-controlArrow fp-prev"></div>
    <div class="fp-controlArrow fp-next"></div>




    {% endblock %}