{% extends './Layout/Layout.html' %} {% block body %}
<div id="pagewarp">
  <div id="slideContainer" class="fullpage-wrapper" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px); transition: all 700ms ease;">
    <section id="page2" class="section fp-section fp-table" style="height: 494px;">
      <div class="fp-tableCell" style="height: 494px;">
        <div class="container">
          <h1 class="font-md full-move fadeInUp animated" style="animation-delay: 0.5s">曼妙设计始于2008，地处西南地区富有新意的创意与设计机构，由国内知名设计师曾凯 ( 网名：记忆拼图 ) 创办，
            <br class="hidden-xs"> 我们以创意和设计为驱动力，针对企业市场与运营方向，提供品牌视觉、包装设计、品牌周边\吉祥物、UI、设备交互等整合策划与视觉执行，为品牌赋予新鲜且有新意的创意与体现。
          </h1>
          <p>&nbsp;</p>
          <p class="about-eng font-md-s full-move fadeInUp animated" style="animation-delay: 0.6s">
            Founded in 2008, MemoryDesign is an innovative design office located in Southwest China. We use creative and design as the
            source impetus.
            <br> For the enterprise market and operational direction.
            <br> Provide digital brands, Internet, H5, APP, device interaction Integrated planning and visual execution.
            <br> For the brand given fresh and innovative Creativity and Visual
          </p>
        </div>
      </div>
    </section>
    <div class="fp-controlArrow fp-prev"></div>
    <div class="fp-controlArrow fp-next"></div>
    <div class="fp-slidesNav bottom" style="margin-left: -560px;">
      <ul>
        <li>
          <a href="http://www.m-studio.cc/about.html#" class="active">
            <span></span>
          </a>
        </li>
        <li>
          <a href="http://www.m-studio.cc/about.html#">
            <span></span>
          </a>
        </li>
        <li>
          <a href="http://www.m-studio.cc/about.html#">
            <span></span>
          </a>
        </li>
        <li>
          <a href="http://www.m-studio.cc/about.html#">
            <span></span>
          </a>
        </li>
      </ul>
    </div>
    </section>
    <section class="section fp-auto-height fp-section fp-table" style="height: 735px;">
      <div class="fp-tableCell" style="height: 735px;">
        <div class="bord-t1"></div>
        <div class="container space-t-lg text-left">
          <div class="foot-nav font-md-s">
            <div class="foot-navitem font-base-sm">
              <a href="http://www.m-studio.cc/joinus.html" class="changea" data-page="joinus">作品</a>
            </div>
            <div class="nav-link text-right">
              <a href="javascript:void(0);" class="twocode-box color-gray">
                <i class="iconfont weixin color-base"></i>
                <div class="twocode-detail">
                  <img src="/public/images/two_code_2.jpg">
                </div>
              </a>
            </div>
          </div>
          <div class="foot-info space-t-xs">
            <div class="foot-address">
              <p>LongFor Times Paradise Walk The 3rd Office 2407 DaPing,ChongQing</p>
            </div>
            <div class="foot-item">
              023-60335880
            </div>
            <div class="foot-item">
              memory@m-studio.cc
            </div>
            <div class="foot-item">
              <span class="color-light">Servertime :</span> AM10:00-PM18:30
            </div>
            <div class="foot-link text-right">
              <a href="http://weibo.com/u/5184814452" target="_blank" class="color-gray">
                <i class="iconfont sina color-base"></i>
                <span class="link-txt">官方微博</span>
              </a>
              <a href="javascript:void(0);" class="twocode-box color-gray">
                <i class="iconfont weixin color-base"></i>
                <span class="link-txt">官方微信</span>
                <div class="twocode-detail">
                  <img src="/public/images/two_code_2.jpg">
                </div>
              </a>
            </div>
          </div>
          <div class="copyright space-b-lg">
            <p class="copy-p">中国 重庆 大坪龙湖时代天街3号写字楼2407室</p>
            ©Memorydesign. All rights reserved.
            <a href="javascript:void(0);" class="color-light">渝ICP备14006559</a>
          </div>
        </div>
        <div id="" class="visible-xs"></div>
      </div>
    </section>
  </div>
</div>
{% endblock %}