{% extends './Layout/Layout.html' %} 
{% block submenu %}
<div class="submenu menuIn">
	<div class="container subbox">
		<h1 class="font-base">
			WORK
		</h1>
		<div id="work-hd" class="sub-sort">
			<a class="active" data-classify="0">全部</a>
			<a data-classify="1">品牌</a>
			<a data-classify="2">UI</a>
			<a data-classify="3">网页</a>
			<a data-classify="4">H5</a>
			<a data-classify="5">平面</a>
		</div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="submenuTop"></div>
<div id="pagewarp">
	<div id="work-bd" class="workWrap clearfix">
		{% for item in res %}
		<div class="item myani vivify animationObject popInTop" data-classify="{{item.type}}">
			<a href="/vod/{{item.id}}" class="changea" data-page="special">
				<div class="ani-mask"></div>
				<div class="work-text">
					<h2>{{item.title}}</h2>
				</div>
				<div class="work-img">
					<img class="img-responsive" src="http://go.limingyi666.com/{{item.listImg}}" alt="">
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}