{% extends './Layout/Layout.html' %} {% block script %}
<style>
    .img-responsive {
        width: 100%;
    }

</style>
<script src="/public/js/share.js"></script>
<link rel="stylesheet" href="/public/css/share_style0_16.css">
<script src="/public/js/share.js"></script> {% endblock %} {% block body %}

<div class="menutop"></div>
<div id="pagewarp">
    <div id="banner-full" class="banner-full bg-cover">
        <div class="banner-title">
            <div class="dis-table">
                <div class="dis-tablecell">
                    <h3 class="font-lg-xxl font-letter myani fadeInUp font-eng-bold" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">{{title[0]}}</h3>
                    <h4 class="font-eng-light font-lg-xl font-letter myani fadeInUp" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">{{title[1]}}</h4>
                </div>
            </div>
            <!-- <div id="banner-next" class="banner-next myani fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <span class="banner-arrow"></span>
            </div> -->
        </div>

        <div class="banenr-img bg-cover" style="background-image: url(http://go.richfly.cn/{{data.introImg}});"></div>
    </div>
    <section id="workwrap" class="space-t-mmd">
        <div class="container">
            <div class="article-title">
                <h1 class="font-lg-s">{{data.title}}</h1>
                <h2 class="font-sm space-t-md color-light">
                    {% for item in keyval %}
                    <strong>{{item}}</strong>
                    {% if loop.last%} {% else %} · {% endif %} {% endfor %}
                </h2>
            </div>
            <div class="article-con font-base-sm lh-base space-t-xs">
                {% for item in txt %}
                <p>
                    {% for t in item %} {{t}}
                    <br/> {% endfor %}
                </p>
                <p>&nbsp;</p>
                {% endfor %}
                <div class="space-t-md text-center" style="line-height: 0;">
                    {% for item in data.images %}
                    <img class="lazy img-responsive center-block" width="1200" height="568" alt="优酷为他写字,H5,web,响应式" src="http://go.richfly.cn/{{item}}"
                        style="display: block;"> {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div>
        <div class="container">
            <div class="work-foot flex-warp space-tb-lg">
                <div class="work-foot-l">
                    <a class="changea" data-page="work" href="/list">
                        <!-- <i class="iconfont icon-list"> -->

                        </i>返回作品列表</a>
                </div>
                <!-- <div class="work-foot-r text-right">
                    <div class="bdsharebuttonbox" id="share-weixin">
                        <a class="bds_tsina iconfont sina" data-cmd="tsina" href="http://www.m-studio.cc/work/work09.html#" title="分享到新浪微博"></a>
                        <a class="bds_weixin iconfont weixin" data-cmd="weixin" href="http://www.m-studio.cc/work/work09.html#" title="分享到微信"></a>
                        <a class="bds_qzone iconfont qzone" data-cmd="qzone" href="http://www.m-studio.cc/work/work09.html#"></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    {% if next.id %}
    <div class="work-next">
        <a class="changea" data-page="special" data-work="true" href="/vod/{{next.id}}">
            <div class="banner-title">
                <div class="dis-table">
                    <div class="dis-tablecell">
                        <span class="font-lg-s">下一个项目</span>
                        <h3 class="font-lg-xl banner-title-name">{{next.title}}</h3>
                        <h4 class="font-lg-s">{{next.type}} {{next.keyval}}</h4>
                    </div>
                </div>
            </div>
            <div class="work-next-img">
                <img class="lazy" data-original="//www.m-studio.cc/work/work08/attack_full_banner.jpg" src="http://go.richfly.cn/{{next.img}}"
                    style="display: inline;">
            </div>
        </a>
    </div>
    {% endif %}
    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "1",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "16"
            },
            "share": {}
        };
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
            'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)
        ];
    </script>

</div>
<footer class="container myani fadeIn maskOut" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">

</footer>
{% endblock %}